*.pyc
assets/.irssi/away.log
assets/.irssi/scripts/twirssi.ids
assets/.irssi/scripts/twirssi.json
assets/.irssi/scripts/twirssi.oauth
assets/.irssi/triggers
assets/.pip/pip.log
assets/.pip/zsh-cache
assets/.vim/sessions
assets/.vim/spell/*.add.spl
