[submodule "assets/.vim/bundle/Zenburn"]
	path = assets/.vim/bundle/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "assets/.vim/bundle/accelerated-jk"]
	path = assets/.vim/bundle/accelerated-jk
	url = https://github.com/rhysd/accelerated-jk.git
[submodule "assets/.vim/bundle/clever-f.vim"]
	path = assets/.vim/bundle/clever-f.vim
	url = https://github.com/rhysd/clever-f.vim.git
[submodule "assets/.vim/bundle/ctrlp.vim"]
	path = assets/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "assets/.vim/bundle/ctrlp-funky"]
	path = assets/.vim/bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
[submodule "assets/.vim/bundle/jedi-vim"]
	path = assets/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "assets/.vim/bundle/minibufexpl.vim"]
	path = assets/.vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "assets/.vim/bundle/molokai"]
	path = assets/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "assets/.vim/bundle/nerdtree"]
	path = assets/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "assets/.vim/bundle/supertab"]
	path = assets/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "assets/.vim/bundle/syntastic"]
	path = assets/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "assets/.vim/bundle/tagbar"]
	path = assets/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "assets/.vim/bundle/vim-autoclose"]
	path = assets/.vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "assets/.vim/bundle/vim-colors-solarized"]
	path = assets/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "assets/.vim/bundle/vim-commentary"]
	path = assets/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "assets/.vim/bundle/vim-fugitive"]
	path = assets/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "assets/.vim/bundle/vim-misc"]
	path = assets/.vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "assets/.vim/bundle/vim-multiple-cursors"]
	path = assets/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "assets/.vim/bundle/vim-pathogen"]
	path = assets/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "assets/.vim/bundle/vim-isort"]
	path = assets/.vim/bundle/vim-isort
	url = https://github.com/fisadev/vim-isort.git
[submodule "assets/.vim/bundle/vim-repeat"]
	path = assets/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "assets/.vim/bundle/vim-session"]
	path = assets/.vim/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "assets/.vim/bundle/vim-speeddating"]
	path = assets/.vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "assets/.vim/bundle/vim-surround"]
	path = assets/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "assets/.vim/bundle/vim-vividchalk"]
	path = assets/.vim/bundle/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk
[submodule "submodules/autoenv"]
	path = submodules/autoenv
	url = https://github.com/kennethreitz/autoenv.git
[submodule "submodules/nvm"]
	path = submodules/nvm
	url = https://github.com/creationix/nvm.git
[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = https://github.com/flebel/oh-my-zsh.git
[submodule "submodules/pyenv"]
	path = submodules/pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule "submodules/urxvt-font-size"]
	path = submodules/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
[submodule "submodules/urxvt-perls"]
	path = submodules/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
