[alias]
    a = add
    archivezip = archive -o latest.zip HEAD
    b = branch
    c = commit

    # Example usage: git change-commits GIT_AUTHOR_EMAIL "x@y.z" "a@b.c" HEAD~1..HEAD
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "

    co = checkout
    cp = cherry-pick
    d = diff
    dc = diff --cached
    l = log --color --graph --pretty=format:'%C(yellow)%h%Creset %C(magenta)%an%Creset%C(yellow)%d%Creset %s %C(yellow)%cr%Creset %C(cyan)%ad%Creset' --abbrev-commit
    lf = log --color --follow --graph --pretty=format:'%C(yellow)%h%Creset %C(magenta)%an%Creset%C(yellow)%d%Creset %s %C(yellow)%cr%Creset %C(cyan)%ad%Creset' --abbrev-commit
    lp = log --color --graph --pretty=format:'%C(yellow)%h%Creset %C(magenta)%an%Creset%C(yellow)%d%Creset %s %C(yellow)%cr%Creset %C(cyan)%ad%Creset' --abbrev-commit -p
    lpf = log --color --follow --graph --pretty=format:'%C(yellow)%h%Creset %C(magenta)%an%Creset%C(yellow)%d%Creset %s %C(yellow)%cr%Creset %C(cyan)%ad%Creset' --abbrev-commit -p
    pt = push --tags
    pup = "!f(){ git pull --rebase && git submodule init && git submodule update && git submodule status; };f"
    resetmerge = reset --merge ORIG_HEAD
    s = status
    sin = submodule init
    st = stash
    stu = !git stash && git stash -u
    sta = stash apply
    stp = stash pop
    stpf = !git stash show -p | git apply && git stash drop
    stup = !git stash pop && git stash pop
    sup = submodule update

[color]
    ui = true

[core]
    editor = vim
    excludesfile = ~/.gitignore
    filemode = false

[grep]
    extendRegexp = true
    fullname = false
    lineNumber = true

[help]
    autocorrect = 15

[merge]
    tool = meld

[merge "ours"]
    driver = true

[pager]
    log = ~/scripts/git-diff-highlight | less
    show = ~/scripts/git-diff-highlight | less
    diff = ~/scripts/git-diff-highlight | less

[push]
    default = simple

[tag]
    sort = version:refname

[user]
    email = francoislebel@gmail.com
    name = Francois Lebel
    signingkey = B9D1AEBA

[rerere]
    enabled = true

[commit]
    ; gpgsign = true
