[alias]
    a = add
    b = branch
    c = commit
    co = checkout
    d = diff
    dc = diff --cached
    l = log --color --graph --pretty=format:'%C(yellow)%h%Creset %C(magenta)%an%Creset%C(yellow)%d%Creset %s %C(yellow)%cr%Creset %C(cyan)%ad%Creset' --abbrev-commit
    lp = log --color --graph --pretty=format:'%C(yellow)%h%Creset %C(magenta)%an%Creset%C(yellow)%d%Creset %s %C(yellow)%cr%Creset %C(cyan)%ad%Creset' --abbrev-commit -p
    pt = push --tags
    pup = "!f(){ git pull --rebase && git submodule init && git submodule update && git submodule status; };f"
    resetmerge = reset --merge ORIG_HEAD
    s = status
    sin = submodule init
    st = stash
    stu = !git stash && git stash -u
    sta = stash apply
    stp = stash pop
    stpf = !git stash show -p | git apply && git stash drop
    stup = !git stash pop && git stash pop
    sup = submodule update

[color]
    ui = true

[core]
    editor = vim
    filemode = false

[grep]
    extendRegexp = true
    lineNumber = true

[help]
    autocorrect = 15

[merge]
    tool = meld

[merge "ours"]
    driver = true

[pager]
    log = ~/scripts/git-diff-highlight | less
    show = ~/scripts/git-diff-highlight | less
    diff = ~/scripts/git-diff-highlight | less

[push]
    default = simple

[user]
    email = francoislebel@gmail.com
    name = Francois Lebel

